.category__form {
  .category__input {
    // border: 2px solid magenta;
    display: flex;
    min-width: 20em;
    height: 2.5em;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1.2em;
    border: none;
  }
}
